@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
*{
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* nav related style */
.header{
    background: rgba(229, 84, 115, 0.10);
    padding-top: 50px  ;
    
    
}
.banner-theme{
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-title{
    color: #272727;
    font-size: 60px;
    margin-bottom: 15px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;


}
.btn-primary{
    border-radius: 5px;
    background: #E55473;
    border: none;
    padding: 15px 40px;
    color: white;
    margin-top: 15px;


}
.image-area img{
    width: 80%;
    
}
/* Featured-flower style start  */
.featured-flower{
    display: inline;
    align-items: center;
}

.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    display: flex;
    align-items: center;
}
.featured-discrition{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
align-items: center;

}
/* featured flower style  */
.container{
    display: flex;
    justify-content: space-around;
}
.box{
    width: 464px;
height: 538px;
flex-shrink: 0;
    border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.box2{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.box3{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.flower1{
    width: 310px;
    height: 428px;
    padding: 110px 78px 67px 76px ;
}
.flower2{
    padding: 117px 47px 118px 47px;
}
.flower3{
    padding: 67px 75px;
}
/* delivery section style  */

/* hot deal section style  */
.hot-deal{
    margin-top: 100px;
    background: rgba(229, 84, 115, 0.05);
}
.hot-deal-containers{
    display:flex;
    width: 1440px;
    border-radius: 8px;
    align-items: center;

}
.hot-deal-container{
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}
.hot-deal-title{
    font-size: 40px;
    color: #272727;
    margin-bottom: 15px;
    font-family: Lato;
}
.hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}
.sign-up{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}

.text12{
    color: #E55473;
}
/* media style start  */
.media{
    margin-top: 100px;
}
.media-container{
    width: 1440px;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
}
.media-title{
    color: #272727;
    font-size: 40px;
    margin-bottom: 15px;
}
.media-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 15px;
}
.media-flower{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

/* background image style */
.subscribe{
    margin-top: 100px;
}
.subscribe-container{
    width: 1440px;
    background:url("./../flower-shop-assignment/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
}
.subscribe-title{
    color: #272727;
    font-size: 35px;
    margin-bottom: 15px;
}
.subscribe-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    margin-bottom: 15px;
}

.subscribe-container input{ 
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
    width: 45%;

}

/* footer style  */

.footer{
    margin-top: 100px;
}
.footer-container{
    background-color: #111010;
    text-align: center;
    padding: 100px 0;
}
.footer-title{
    font-size: 48px;
    color: white;
    margin-bottom: 15px;
}
.footer-description{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.90);
    margin-bottom: 15px;
}
.footer-ending{
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    margin-bottom: 15px;
}
